Build started...
Build succeeded.
The Entity Framework tools version '10.0.2' is older than that of the runtime '10.0.5'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'DiscountAmount' on entity type 'Bill'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'FinalAmount' on entity type 'Bill'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'MinStockLevel' on entity type 'Ingredient'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'DiscountPercent' on entity type 'Promotion'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'MaxDiscountAmount' on entity type 'Promotion'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No store type was specified for the decimal property 'MinBillAmount' on entity type 'Promotion'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [Categories] (
    [CategoryId] int NOT NULL IDENTITY,
    [CategoryName] nvarchar(100) NOT NULL,
    CONSTRAINT [PK_Categories] PRIMARY KEY ([CategoryId])
);

CREATE TABLE [Ingredients] (
    [IngredientId] int NOT NULL IDENTITY,
    [IngredientName] nvarchar(200) NOT NULL,
    [Unit] nvarchar(50) NOT NULL,
    [StockQuantity] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_Ingredients] PRIMARY KEY ([IngredientId])
);

CREATE TABLE [Sizes] (
    [SizeId] int NOT NULL IDENTITY,
    [SizeName] nvarchar(10) NOT NULL,
    CONSTRAINT [PK_Sizes] PRIMARY KEY ([SizeId])
);

CREATE TABLE [Toppings] (
    [ToppingId] int NOT NULL IDENTITY,
    [ToppingName] nvarchar(150) NOT NULL,
    [Price] decimal(18,2) NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Toppings] PRIMARY KEY ([ToppingId])
);

CREATE TABLE [Users] (
    [UserId] int NOT NULL IDENTITY,
    [Username] nvarchar(50) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [FullName] nvarchar(100) NOT NULL,
    [Role] int NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([UserId])
);

CREATE TABLE [Products] (
    [ProductId] int NOT NULL IDENTITY,
    [CategoryId] int NOT NULL,
    [ProductName] nvarchar(200) NOT NULL,
    [BasePrice] decimal(18,2) NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY ([ProductId]),
    CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY ([CategoryId]) REFERENCES [Categories] ([CategoryId]) ON DELETE NO ACTION
);

CREATE TABLE [Bills] (
    [BillId] int NOT NULL IDENTITY,
    [UserId] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [TotalAmount] decimal(18,2) NOT NULL,
    [Status] int NOT NULL,
    CONSTRAINT [PK_Bills] PRIMARY KEY ([BillId]),
    CONSTRAINT [FK_Bills_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [InventoryReceipts] (
    [ReceiptId] int NOT NULL IDENTITY,
    [UserId] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [TotalCost] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY ([ReceiptId]),
    CONSTRAINT [FK_InventoryReceipts_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [ProductSizes] (
    [ProductId] int NOT NULL,
    [SizeId] int NOT NULL,
    [PriceAdd] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_ProductSizes] PRIMARY KEY ([ProductId], [SizeId]),
    CONSTRAINT [FK_ProductSizes_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([ProductId]) ON DELETE CASCADE,
    CONSTRAINT [FK_ProductSizes_Sizes_SizeId] FOREIGN KEY ([SizeId]) REFERENCES [Sizes] ([SizeId]) ON DELETE CASCADE
);

CREATE TABLE [Recipes] (
    [ProductId] int NOT NULL,
    [IngredientId] int NOT NULL,
    [QuantityNeeded] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_Recipes] PRIMARY KEY ([ProductId], [IngredientId]),
    CONSTRAINT [FK_Recipes_Ingredients_IngredientId] FOREIGN KEY ([IngredientId]) REFERENCES [Ingredients] ([IngredientId]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Recipes_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([ProductId]) ON DELETE CASCADE
);

CREATE TABLE [BillDetails] (
    [BillDetailId] int NOT NULL IDENTITY,
    [BillId] int NOT NULL,
    [ProductId] int NOT NULL,
    [HistoricalProductName] nvarchar(200) NOT NULL,
    [HistoricalPrice] decimal(18,2) NOT NULL,
    [SizeName] nvarchar(10) NOT NULL,
    [Quantity] int NOT NULL,
    [Notes] nvarchar(500) NOT NULL,
    CONSTRAINT [PK_BillDetails] PRIMARY KEY ([BillDetailId]),
    CONSTRAINT [FK_BillDetails_Bills_BillId] FOREIGN KEY ([BillId]) REFERENCES [Bills] ([BillId]) ON DELETE CASCADE,
    CONSTRAINT [FK_BillDetails_Products_ProductId] FOREIGN KEY ([ProductId]) REFERENCES [Products] ([ProductId]) ON DELETE NO ACTION
);

CREATE TABLE [InventoryReceiptDetails] (
    [ReceiptId] int NOT NULL,
    [IngredientId] int NOT NULL,
    [Quantity] decimal(18,2) NOT NULL,
    [UnitPrice] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY ([ReceiptId], [IngredientId]),
    CONSTRAINT [FK_InventoryReceiptDetails_Ingredients_IngredientId] FOREIGN KEY ([IngredientId]) REFERENCES [Ingredients] ([IngredientId]) ON DELETE NO ACTION,
    CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_ReceiptId] FOREIGN KEY ([ReceiptId]) REFERENCES [InventoryReceipts] ([ReceiptId]) ON DELETE CASCADE
);

CREATE TABLE [BillDetailToppings] (
    [BillDetailId] int NOT NULL,
    [ToppingId] int NOT NULL,
    [HistoricalToppingName] nvarchar(150) NOT NULL,
    [HistoricalToppingPrice] decimal(18,2) NOT NULL,
    [Quantity] int NOT NULL,
    CONSTRAINT [PK_BillDetailToppings] PRIMARY KEY ([BillDetailId], [ToppingId]),
    CONSTRAINT [FK_BillDetailToppings_BillDetails_BillDetailId] FOREIGN KEY ([BillDetailId]) REFERENCES [BillDetails] ([BillDetailId]) ON DELETE CASCADE,
    CONSTRAINT [FK_BillDetailToppings_Toppings_ToppingId] FOREIGN KEY ([ToppingId]) REFERENCES [Toppings] ([ToppingId]) ON DELETE NO ACTION
);

CREATE INDEX [IX_BillDetails_BillId] ON [BillDetails] ([BillId]);

CREATE INDEX [IX_BillDetails_ProductId] ON [BillDetails] ([ProductId]);

CREATE INDEX [IX_BillDetailToppings_ToppingId] ON [BillDetailToppings] ([ToppingId]);

CREATE INDEX [IX_Bills_UserId] ON [Bills] ([UserId]);

CREATE INDEX [IX_InventoryReceiptDetails_IngredientId] ON [InventoryReceiptDetails] ([IngredientId]);

CREATE INDEX [IX_InventoryReceipts_UserId] ON [InventoryReceipts] ([UserId]);

CREATE INDEX [IX_Products_CategoryId] ON [Products] ([CategoryId]);

CREATE INDEX [IX_ProductSizes_SizeId] ON [ProductSizes] ([SizeId]);

CREATE INDEX [IX_Recipes_IngredientId] ON [Recipes] ([IngredientId]);

CREATE UNIQUE INDEX [IX_Users_Username] ON [Users] ([Username]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260317034951_InitialCreate', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Recipes] DROP CONSTRAINT [PK_Recipes];

EXEC sp_rename N'[Products].[ProductName]', N'Name', 'COLUMN';

EXEC sp_rename N'[Products].[BasePrice]', N'Price', 'COLUMN';

EXEC sp_rename N'[Categories].[CategoryName]', N'Name', 'COLUMN';

ALTER TABLE [Toppings] ADD [IngredientId] int NULL;

ALTER TABLE [Toppings] ADD [QuantityNeeded] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [Recipes] ADD [SizeId] int NOT NULL DEFAULT 0;

ALTER TABLE [Products] ADD [Description] nvarchar(max) NULL;

ALTER TABLE [Products] ADD [ImageUrl] nvarchar(max) NULL;

ALTER TABLE [Categories] ADD [Description] nvarchar(max) NULL;

ALTER TABLE [Categories] ADD [IsActive] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [BillDetails] ADD [SizeId] int NOT NULL DEFAULT 0;

ALTER TABLE [Recipes] ADD CONSTRAINT [PK_Recipes] PRIMARY KEY ([ProductId], [SizeId], [IngredientId]);

CREATE INDEX [IX_Toppings_IngredientId] ON [Toppings] ([IngredientId]);

CREATE INDEX [IX_Recipes_SizeId] ON [Recipes] ([SizeId]);

CREATE INDEX [IX_BillDetails_SizeId] ON [BillDetails] ([SizeId]);

ALTER TABLE [BillDetails] ADD CONSTRAINT [FK_BillDetails_Sizes_SizeId] FOREIGN KEY ([SizeId]) REFERENCES [Sizes] ([SizeId]) ON DELETE NO ACTION;

ALTER TABLE [Recipes] ADD CONSTRAINT [FK_Recipes_Sizes_SizeId] FOREIGN KEY ([SizeId]) REFERENCES [Sizes] ([SizeId]) ON DELETE NO ACTION;

ALTER TABLE [Toppings] ADD CONSTRAINT [FK_Toppings_Ingredients_IngredientId] FOREIGN KEY ([IngredientId]) REFERENCES [Ingredients] ([IngredientId]) ON DELETE SET NULL;

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260318013614_UpdateSizeAwarenessAndInventory', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260318021001_FixEntities', N'10.0.5');

COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [Attendances] (
    [AttendanceId] int NOT NULL IDENTITY,
    [EmployeeId] int NOT NULL,
    [CheckInTime] datetime2 NOT NULL,
    [CheckOutTime] datetime2 NULL,
    [WorkedMinutes] int NOT NULL,
    [BreakMinutes] int NOT NULL,
    [OvertimeMinutes] int NOT NULL,
    [SalaryAmount] decimal(18,2) NOT NULL,
    [Status] int NOT NULL,
    [CheckInSource] nvarchar(50) NULL,
    [CheckOutSource] nvarchar(50) NULL,
    [CheckInIp] nvarchar(50) NULL,
    [CheckOutIp] nvarchar(50) NULL,
    [Notes] nvarchar(500) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Attendances] PRIMARY KEY ([AttendanceId]),
    CONSTRAINT [FK_Attendances_Users_EmployeeId] FOREIGN KEY ([EmployeeId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [AuditLogs] (
    [AuditLogId] int NOT NULL IDENTITY,
    [UserId] int NULL,
    [Action] nvarchar(100) NOT NULL,
    [EntityName] nvarchar(100) NOT NULL,
    [EntityId] nvarchar(50) NOT NULL,
    [OldValueJson] nvarchar(max) NULL,
    [NewValueJson] nvarchar(max) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [IpAddress] nvarchar(50) NULL,
    CONSTRAINT [PK_AuditLogs] PRIMARY KEY ([AuditLogId]),
    CONSTRAINT [FK_AuditLogs_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([UserId]) ON DELETE SET NULL
);

CREATE TABLE [MonthlyPayrolls] (
    [PayrollId] int NOT NULL IDENTITY,
    [EmployeeId] int NOT NULL,
    [Month] int NOT NULL,
    [Year] int NOT NULL,
    [TotalWorkedMinutes] int NOT NULL,
    [TotalOvertimeMinutes] int NOT NULL,
    [TotalNormalSalary] decimal(18,2) NOT NULL,
    [TotalOvertimeSalary] decimal(18,2) NOT NULL,
    [TotalSalary] decimal(18,2) NOT NULL,
    [Status] int NOT NULL,
    [GeneratedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_MonthlyPayrolls] PRIMARY KEY ([PayrollId]),
    CONSTRAINT [FK_MonthlyPayrolls_Users_EmployeeId] FOREIGN KEY ([EmployeeId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [SalaryRules] (
    [SalaryRuleId] int NOT NULL IDENTITY,
    [EmployeeId] int NULL,
    [Role] int NULL,
    [HourlyRate] decimal(18,2) NOT NULL,
    [OvertimeRate] decimal(18,2) NOT NULL,
    [NightShiftMultiplier] decimal(18,2) NOT NULL,
    [MaxHoursPerShift] int NOT NULL,
    [StandardHoursPerShift] int NOT NULL,
    [EffectiveFrom] datetime2 NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_SalaryRules] PRIMARY KEY ([SalaryRuleId]),
    CONSTRAINT [FK_SalaryRules_Users_EmployeeId] FOREIGN KEY ([EmployeeId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [AttendanceAdjustments] (
    [AdjustmentId] int NOT NULL IDENTITY,
    [AttendanceId] int NOT NULL,
    [AdjustedByUserId] int NOT NULL,
    [Reason] nvarchar(500) NOT NULL,
    [OldCheckInTime] datetime2 NULL,
    [NewCheckInTime] datetime2 NULL,
    [OldCheckOutTime] datetime2 NULL,
    [NewCheckOutTime] datetime2 NULL,
    [OldWorkedMinutes] int NOT NULL,
    [NewWorkedMinutes] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_AttendanceAdjustments] PRIMARY KEY ([AdjustmentId]),
    CONSTRAINT [FK_AttendanceAdjustments_Attendances_AttendanceId] FOREIGN KEY ([AttendanceId]) REFERENCES [Attendances] ([AttendanceId]) ON DELETE CASCADE,
    CONSTRAINT [FK_AttendanceAdjustments_Users_AdjustedByUserId] FOREIGN KEY ([AdjustedByUserId]) REFERENCES [Users] ([UserId]) ON DELETE NO ACTION
);

CREATE TABLE [AttendanceBreaks] (
    [BreakId] int NOT NULL IDENTITY,
    [AttendanceId] int NOT NULL,
    [StartTime] datetime2 NOT NULL,
    [EndTime] datetime2 NULL,
    [DurationMinutes] int NOT NULL,
    [Status] int NOT NULL,
    [Note] nvarchar(250) NULL,
    CONSTRAINT [PK_AttendanceBreaks] PRIMARY KEY ([BreakId]),
    CONSTRAINT [FK_AttendanceBreaks_Attendances_AttendanceId] FOREIGN KEY ([AttendanceId]) REFERENCES [Attendances] ([AttendanceId]) ON DELETE CASCADE
);

CREATE TABLE [MonthlyPayrollDetails] (
    [PayrollDetailId] int NOT NULL IDENTITY,
    [PayrollId] int NOT NULL,
    [AttendanceId] int NOT NULL,
    [WorkedMinutes] int NOT NULL,
    [OvertimeMinutes] int NOT NULL,
    [SalaryAmount] decimal(18,2) NOT NULL,
    CONSTRAINT [PK_MonthlyPayrollDetails] PRIMARY KEY ([PayrollDetailId]),
    CONSTRAINT [FK_MonthlyPayrollDetails_Attendances_AttendanceId] FOREIGN KEY ([AttendanceId]) REFERENCES [Attendances] ([AttendanceId]) ON DELETE NO ACTION,
    CONSTRAINT [FK_MonthlyPayrollDetails_MonthlyPayrolls_PayrollId] FOREIGN KEY ([PayrollId]) REFERENCES [MonthlyPayrolls] ([PayrollId]) ON DELETE CASCADE
);

CREATE INDEX [IX_AttendanceAdjustments_AdjustedByUserId] ON [AttendanceAdjustments] ([AdjustedByUserId]);

CREATE INDEX [IX_AttendanceAdjustments_AttendanceId] ON [AttendanceAdjustments] ([AttendanceId]);

CREATE INDEX [IX_AttendanceBreaks_AttendanceId] ON [AttendanceBreaks] ([AttendanceId]);

CREATE INDEX [IX_Attendances_EmployeeId] ON [Attendances] ([EmployeeId]);

CREATE INDEX [IX_AuditLogs_UserId] ON [AuditLogs] ([UserId]);

CREATE INDEX [IX_MonthlyPayrollDetails_AttendanceId] ON [MonthlyPayrollDetails] ([AttendanceId]);

CREATE INDEX [IX_MonthlyPayrollDetails_PayrollId] ON [MonthlyPayrollDetails] ([PayrollId]);

CREATE UNIQUE INDEX [IX_MonthlyPayrolls_EmployeeId_Month_Year] ON [MonthlyPayrolls] ([EmployeeId], [Month], [Year]);

CREATE INDEX [IX_SalaryRules_EmployeeId] ON [SalaryRules] ([EmployeeId]);


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [InventoryReceiptDetails] DROP CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_ReceiptId];

ALTER TABLE [Recipes] DROP CONSTRAINT [PK_Recipes];

ALTER TABLE [InventoryReceiptDetails] DROP CONSTRAINT [PK_InventoryReceiptDetails];

EXEC sp_rename N'[InventoryReceipts].[TotalCost]', N'TotalAmount', 'COLUMN';

EXEC sp_rename N'[InventoryReceipts].[CreatedAt]', N'ReceivedDate', 'COLUMN';

EXEC sp_rename N'[InventoryReceipts].[ReceiptId]', N'InventoryReceiptId', 'COLUMN';

EXEC sp_rename N'[InventoryReceiptDetails].[ReceiptId]', N'InventoryReceiptId', 'COLUMN';

ALTER TABLE [Recipes] ADD [RecipeId] int NOT NULL IDENTITY;

ALTER TABLE [InventoryReceipts] ADD [Notes] nvarchar(500) NOT NULL DEFAULT N'';

ALTER TABLE [InventoryReceipts] ADD [Supplier] nvarchar(200) NOT NULL DEFAULT N'';

ALTER TABLE [InventoryReceiptDetails] ADD [InventoryReceiptDetailId] int NOT NULL IDENTITY;

ALTER TABLE [Ingredients] ADD [IsActive] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Ingredients] ADD [MinStockLevel] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [Bills] ADD [CustomerId] int NULL;

ALTER TABLE [Bills] ADD [DiscountAmount] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [Bills] ADD [FinalAmount] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [Bills] ADD [PromotionId] int NULL;

ALTER TABLE [Recipes] ADD CONSTRAINT [PK_Recipes] PRIMARY KEY ([RecipeId]);

ALTER TABLE [InventoryReceiptDetails] ADD CONSTRAINT [PK_InventoryReceiptDetails] PRIMARY KEY ([InventoryReceiptDetailId]);

CREATE TABLE [Customers] (
    [CustomerId] int NOT NULL IDENTITY,
    [FullName] nvarchar(max) NOT NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [Points] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY ([CustomerId])
);

CREATE TABLE [Promotions] (
    [PromotionId] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Code] nvarchar(max) NOT NULL,
    [DiscountPercent] decimal(18,2) NOT NULL,
    [MaxDiscountAmount] decimal(18,2) NOT NULL,
    [MinBillAmount] decimal(18,2) NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Promotions] PRIMARY KEY ([PromotionId])
);

CREATE INDEX [IX_Recipes_ProductId] ON [Recipes] ([ProductId]);

CREATE INDEX [IX_InventoryReceiptDetails_InventoryReceiptId] ON [InventoryReceiptDetails] ([InventoryReceiptId]);

CREATE INDEX [IX_Bills_CustomerId] ON [Bills] ([CustomerId]);

CREATE INDEX [IX_Bills_PromotionId] ON [Bills] ([PromotionId]);

ALTER TABLE [Bills] ADD CONSTRAINT [FK_Bills_Customers_CustomerId] FOREIGN KEY ([CustomerId]) REFERENCES [Customers] ([CustomerId]);

ALTER TABLE [Bills] ADD CONSTRAINT [FK_Bills_Promotions_PromotionId] FOREIGN KEY ([PromotionId]) REFERENCES [Promotions] ([PromotionId]);

ALTER TABLE [InventoryReceiptDetails] ADD CONSTRAINT [FK_InventoryReceiptDetails_InventoryReceipts_InventoryReceiptId] FOREIGN KEY ([InventoryReceiptId]) REFERENCES [InventoryReceipts] ([InventoryReceiptId]) ON DELETE CASCADE;


COMMIT;
GO


